<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crop yield detection</title>
    <form class="card-form" action="/predictCropYield" method="post">
        <div class="input">
            <input  type="text" name="AverageTemp" class="input-field" required>
            <label  class="input-label"> AverageTemp </label>
        </div>
        <div class="input">
            <input  type="text" name="AverageRainfall" class="input-field" required>
            <label  class="input-label"> AverageRainfall </label>
        </div>
        <div class="input">
            <input  type="text" name="CropName" class="input-field" required>
            <label  class="input-label"> CropName </label>
        </div>
        <div class="input">
            <input type="text" name="CountryName" class="input-field" required>
            <label  class="input-label"> CountryName </label>
        </div>
        <div class="input">
            <input  type="text"  name="PesticideTonnes" class="input-field" required>
            <label  class="input-label"> PesticideTonnes </label>
        </div>
        <div class="action">
            <button type="submit" class="action-button">Submit</button>
        </div>
    </form>
    <div>
       prediction : {{prediction}}
    </div>
</head>
<body>
    
</body>
</html>